html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

.top, footer { text-align: center; margin-bottom: 30px; }
.top a { padding: 10px; text-decoration: underline; }

.created_at {
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    font-size: 90%;
}

body{
color:#444;
font-family:Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
line-height:1.5em;
padding:1em;
font-size: 18px;
margin:auto;
max-width:40em;
margin: 0 auto;        
margin:0 auto;
background:#fefefe;
}

p{ margin:1em 0; }

img{ max-width:100%;  }

figcaption { text-align: center; font-size: 80%; margin-top: 5px; margin-bottom: 15px;}