.top, footer {  
  text-align: center;
  margin-bottom: 30px;
}
.top a { 
  /*background-color: black;
  color: white !important;*/
  padding: 10px;
  text-decoration: underline;
}

.markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;        
}

@media (max-device-width: 768px) { 
  body{
    font-size:5.5vw;
/*    color: red;*/
  }
}

.created_at {
    float: right;
    text-align: right;
    font-size: 90%;
}